/* Header */
header{
  display: flex;
  height: 15vh;
  flex-direction: row;
  align-items: center;
  padding: 20px 5px;
  justify-content: center;
  background-color: var(--header-color);
}
header img{
  width: 200px;

}
header #pesquisa-geral{
  height: 50%;
  max-width: 400px;
  width: 20%;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 20px;
}
header .nav-bar ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  list-style: none;
}

header .nav-bar a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: var(--text-header-color);
}
header .nav-bar a:hover{
  color: #D0021B;
}
header .nav-bar a span{
  font-size: 10px;
  line-height: 20px;
}
header .nav-bar a i{
  font-size: 20px;
}
/*Header - Fim*/

/*Menu Mobile */
#menuToggle{
  display: none;
}
.menu-icon{
  display: none;
}